:host {
  display: block;
}

.meter {
  display: flex;
  flex-direction: column;
}

.meter-label,
.meter-value {
  text-wrap: nowrap;
}

.meter-presence {
  display: flex;
  align-items: center;
  gap: 10px;
}

console-progress-bar {
  width: 65px;
}
