@use 'typography';

*,
*::before,
*::after {
  box-sizing: border-box;
}

router-outlet {
  display: none;
}

:root {
  @include typography.font-reset-root;
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;

  @include typography.font-reset-body;
  @include typography.font-family-text;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
