*,
*::before,
*::after {
  box-sizing: border-box;
}

router-outlet {
  display: none;
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
