:host {
  display: flex;
  flex-direction: column;
  gap: 2.00px;
  background: var(--board-background-ridges);
  overflow: hidden;
}

console-app-navigation-logo {
  min-height: 90px;
}

console-app-navigation-menu {
  flex: 1;
}
