:host {
  overflow: clip;
  position: relative;
}

:host(.small):has(console-avatar-mark[color="red"]),
:host(.regular):has(console-avatar-mark[color="red"]),
:host(.big):has(console-avatar-mark[color="red"]) {
  --mark-color: #E50000;
}

:host(.small):has(console-avatar-mark[color="green"]),
:host(.regular):has(console-avatar-mark[color="green"]),
:host(.big):has(console-avatar-mark[color="green"]) {
  --mark-color: #00CC45;
}

:host(.small):has(console-avatar-mark[color="orange"]),
:host(.regular):has(console-avatar-mark[color="orange"]),
:host(.big):has(console-avatar-mark[color="orange"]) {
  --mark-color: #E58A00;
}

:host(.small):has(console-avatar-mark[color="blue"]),
:host(.regular):has(console-avatar-mark[color="blue"]),
:host(.big):has(console-avatar-mark[color="blue"]) {
  --mark-color: #0093E5;
}

:host(.small):has(console-avatar-mark[color="yellow"]),
:host(.regular):has(console-avatar-mark[color="yellow"]),
:host(.big):has(console-avatar-mark[color="yellow"]) {
  --mark-color: #E5DC00;
}

:host(.small):has(console-avatar-mark[color="cyan"]),
:host(.regular):has(console-avatar-mark[color="cyan"]),
:host(.big):has(console-avatar-mark[color="cyan"]) {
  --mark-color: #00E5E5;
}

:host(.small):has(console-avatar-mark[color="navy"]),
:host(.regular):has(console-avatar-mark[color="navy"]),
:host(.big):has(console-avatar-mark[color="navy"]) {
  --mark-color: #0017E5;
}

:host(.small):has(console-avatar-mark[color="purple"]),
:host(.regular):has(console-avatar-mark[color="purple"]),
:host(.big):has(console-avatar-mark[color="purple"]) {
  --mark-color: #8E00E5;
}

:host(.small):has(console-avatar-mark[color="magenta"]),
:host(.regular):has(console-avatar-mark[color="magenta"]),
:host(.big):has(console-avatar-mark[color="magenta"]) {
  --mark-color: #E500CF;
}

:host(.small) {
  width: 25px;
  height: 25px;
  border-radius: 0.25rem;
}

:host(.small):not(.skeleton):has(console-avatar-mark)::before {
  content: '';
  position: absolute;
  top: -2.5px;
  right: -2.5px;
  width: 10.50px;
  height: 10.50px;
  border-radius: 10.50px;
  background: var(--avatar-background-cutout);
  z-index: 1;
}

:host(.small):not(.skeleton):has(console-avatar-mark)::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5.50px;
  height: 5.50px;
  border-radius: 5.50px;
  background: var(--mark-color);
  z-index: 2;
}

:host(.regular) {
  width: 40px;
  height: 40px;
  border-radius: 0.50rem;
}

:host(.regular):not(.skeleton):has(console-avatar-mark)::before {
  content: '';
  position: absolute;
  top: -2.5px;
  right: -2.5px;
  width: 12.75px;
  height: 12.75px;
  border-radius: 12.75px;
  background: var(--avatar-background-cutout);
  z-index: 1;
}

:host(.regular):not(.skeleton):has(console-avatar-mark)::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 7.75px;
  height: 7.75px;
  border-radius: 7.75px;
  background: var(--mark-color);
  z-index: 2;
}

:host(.big) {
  width: 55px;
  height: 55px;
  border-radius: 0.75rem;
}

:host(.big):not(.skeleton):has(console-avatar-mark)::before {
  content: '';
  position: absolute;
  top: -2.5px;
  right: -2.5px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: var(--avatar-background-cutout);
  z-index: 1;
}

:host(.big):not(.skeleton):has(console-avatar-mark)::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: var(--mark-color);
  z-index: 2;
}

:host(.small):not(.skeleton):has(console-avatar-mark),
:host(.regular):not(.skeleton):has(console-avatar-mark),
:host(.big):not(.skeleton):has(console-avatar-mark) {
  border-top-right-radius: 0.00rem;
}

console-image {
  width: 100%;
  height: 100%;
}
