@mixin font-text-strong {
  font-size: 1.50rem;
  font-weight: 600;
  line-height: 2.10rem;
  letter-spacing: -0.015em;
}

@mixin font-text-emphasized {
  font-size: 1.50rem;
  font-weight: 500;
  line-height: 2.10rem;
  letter-spacing: -0.015em;
}

@mixin font-text {
  font-size: 1.50rem;
  font-weight: 400;
  line-height: 2.10rem;
  letter-spacing: -0.015em;
}

@mixin font-note-strong {
  font-size: 1.30rem;
  font-weight: 600;
  line-height: 1.90rem;
  letter-spacing: -0.015em;
}

@mixin font-note-emphasized {
  font-size: 1.30rem;
  font-weight: 500;
  line-height: 1.90rem;
  letter-spacing: -0.015em;
}

@mixin font-note {
  font-size: 1.30rem;
  font-weight: 400;
  line-height: 1.90rem;
  letter-spacing: -0.015em;
}

@mixin font-family-text {
  font-family: Inter;
  font-feature-settings: "kern" 1, "calt" 1;
}

@mixin font-family-code {
  // TODO
}

@mixin font-reset-root {
  font-size: 62.5% !important;
}

@mixin font-reset-body {
  font-size: 15px;
}
