:host {
  height: 100vh;
  display: grid;
  grid-template-columns: 275px 1fr min-content min-content;
  grid-template-rows: 90px 1fr;
  background: #F2F2F2;
  gap: 1.25px;
}

console-gameserver-outlet-board {
  grid-column: auto / span 3;
}
