:host {
  height: 100vh;
  display: flex;
  gap: 2.00px;
  background: var(--board-background-ridges);
}

console-gameserver-sidebar {
  flex-basis: 275px;
}

console-gameserver-outlet {
  flex: 1;
}
