:host {
  display: flex;
  flex-direction: column;
  background: var(--board-background-ridges);
  gap: 1.25px;
}

console-gameserver-id {
  min-height: 90px;
}

console-gameserver-navigation {
  flex: 1;
}
